@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
.select {
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
.select__value {
  display: flex;
  align-items: center;
  height: rem(30);
  padding: 0 rem(15);
  gap: rem(10);
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 10px;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
._select-open .select__value:after {
  transform: rotate(-180deg);
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select._select-open {
  z-index: 5;
}
._select-tag {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "Montserrat";
}

.wrapper {
  padding: 0 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}
.wrapper__form {
  padding: 50px 0;
  max-width: 40%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.wrapper__logo {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}
.wrapper__logo img {
  width: 100%;
}
.wrapper__text {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  border: none;
  height: 500px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  color: #000;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.wrapper__text:active, .wrapper__text:focus {
  outline: none;
}
.wrapper__text::-moz-placeholder {
  color: #000;
}
.wrapper__text::placeholder {
  color: #000;
}
.wrapper__text div {
  width: 100%;
  height: 100%;
}
.wrapper__button {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4245a8;
  border-radius: 20px;
  font-family: "Montserrat";
  color: var(--mainWhite);
  font-size: 20px;
  color: white;
  border: none;
  transition: all 0.3s ease 0s;
}
.wrapper__button div {
  height: 25px;
  background-size: 100%;
}
.wrapper__button div.sending {
  color: transparent;
  width: 25px;
  background-image: url(../img/loading.gif);
}
.wrapper__button div.fa-check {
  color: transparent;
  width: 25px;
  color: green;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.wrapper__buttons {
  margin-bottom: 20px;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: var(--mainWhite);
  font-size: 14px;
  padding: 10px 12px;
  background-color: var(--mainColor);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
}
.file-input__label:hover {
  background-color: #4245a8;
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn-color {
  background-color: #28a745;
  border-color: #28a745;
  position: relative;
}
.btn-color input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1;
}

.btn-font {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-weight {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-italic {
  font-style: italic;
}

.btn-underline {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */
